body {
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}

.one {
    padding: 4px; 
    display: flex;
    flex-direction: column;
    gap : 1rem;
    height: 680px;
    background-color: #1f2937;
}
.one .header  {
    display: flex;
    height: 100px;
    margin: 0;
    padding: 4px;
    gap: 1rem;
}
.one .header .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.one .header .left .logo h2{
    color: #fff;
    font-weight: 800;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.one .header .right {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    flex-basis: 50%;
    width:10px;
}
.one .header .right h3 {
    color: #fff;
}
.one .content {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.one .content .left {
    display: flex;
    gap: 2px;
    align-items: center;
    flex-direction: column;
    color: #fff;
    height:300px;
    width: 650px;
}
.one .content .left h1 {
    font-size: 48px;
}
.one .content .left p {
    width: 80%;
    font-size: 18px;
}
.one .content .left button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    border: 3px solid white;
    padding: 10px;
    width: 100px;
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;    
}
.one .content .right img{
    height: 300px;
    width: 650px;
}
.two {
    display: flex;
    flex-direction: column;
    height: 500px;
}
.two .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    
}
.two .header h1 {
    font-size: 36px;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.two .tail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 400px;
    
}
.two .tail .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    gap: 1rem;
}
.two .tail .part .box{
    border: 4px solid #3882f6;
    border-radius: 20px;
    width: 180px;
    height: 170px;
}
.two .tail .part .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.two .tail .part .text  p{
    
    width: 60%;
    margin-top: 0;
    text-align: center;
    
}
.three {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.three .bigbox {
    padding: 3px;
    gap: 1rem;
    height: fit-content;
    width: 1000px;
}
.three .bigbox .top{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    height: fit-content;
    
}
.three .bigbox .bottom{
    height: 10%;
    font-weight:1000 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: end;
    padding-right: 10px;;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.four .bluebox {
    display: flex;
    background-color: #3882f6;
    border-radius: 15px;
    width: 1200px;
    height: 100px;
}
.four .bluebox .left {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap:5px;
    width: 80%;
    
}
.four .bluebox .left .top{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50%;
    font-weight: 800;
}
.four .bluebox .left .top div{
    margin-right: 250px;
}


.four .bluebox .left .bottom{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 50%;
}
.four .bluebox .right {
    display: flex;
    align-items: center;
    width: 20%;
    
}
.four .bluebox .right .button {
    height: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 5px;
    width: 100px;
    border: 2px solid white;
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #1f2937;
    height:50px;
}